<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agora API Test</title>
    <style>
        .top {
            display: flex;
            justify-content: center;
        }

        .content {
            display: block;
            flex-direction: column;
            background-color: rgb(10, 89, 153);
            width: 420px;
            height: 470px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 400;
            top: 30px;
            margin: 40px;
            padding: 15px;
        }

        #username {
            border-radius: 7px;
            background-color: whitesmoke;
            height: 40px;
            width: 386px;
            margin-bottom: 10px;
            margin-top: 20px;
            padding-left: 20px
        }

        #password {
            border-radius: 7px;
            background-color: whitesmoke;
            height: 40px;
            width: 386px;
            margin-bottom: 10px;
            padding-left: 20px
        }

        button {
            background-color: #00FF00;
            padding: 15px 85px;
            border-radius: 7px;
            margin-left: 100px;
        }

        #not-registered {
            color: black;
            font-size: 16px;
            margin-left: 25%;
        }

        h1 {
            color: black;
            justify-content: center;
            padding-left: 170px;
            padding-top: 20px
        }

        a {
            text-decoration: none;
            color: rgb(40, 25, 107);
        }
    </style>
</head>

<body>
    <div class="top">
        <form action="/user/login" method="post">
            <div class="content">
                <h1>Login</h1>
                <input id="username" type="text" placeholder="Enter Username" name="username">
                <br />
                <input id="password" type="password" placeholder="Password" name="password">
                <br />
                <button type="submit">Login</button>
                <br />
                <p id="not-registered">
                    Not Registered?? <a href="/user/register">Register</a>
                </p>
            </div>
        </form>
    </div>
</body>

</html>